@import "../../../styles/variables.scss";

.pokemon_card {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
  width: 220px;
  height: 100%;

  &__img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;

    img {
      width: 200px;
      height: 200px;
      transition: all 0.2s ease-in-out;
      border-radius: 6px;
    }
  }

  &:hover &__img {
    top: -40px;
  }

  &:hover &__img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  &:hover &__types &__spans > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }

  &:hover &__types &__spans {
    margin-top: 0px;
  }

  &__types {
    padding-top: 150%;

    &__spans {
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin: 7px;
        text-decoration: none;
        padding: 12px 15px;
        color: #fff;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 23px;
      }

      .grass {
        background: linear-gradient(
          140deg,
          rgba(196, 218, 61, 1) 0%,
          rgba(110, 127, 14, 1) 69%,
          rgba(39, 80, 9, 1) 100%
        );
      }

      .normal {
        background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
      }

      .ground {
        background: linear-gradient(110deg, #fdbb2d 0%, #c08a53 100%);
      }

      .water {
        background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
      }

      .rock {
        background: linear-gradient(110deg, #fdbb2d 0%, #c08a53 100%);
      }

      .electric {
        background: linear-gradient(
          90deg,
          rgba(255, 222, 0, 1) 34%,
          rgba(232, 255, 153, 1) 83%
        );
      }

      .fire {
        background: linear-gradient(
          0deg,
          rgba(199, 24, 0, 1) 10%,
          rgba(252, 194, 69, 1) 100%
        );
      }
      
      .psychic {
        background: linear-gradient(
          140deg,
          rgba(255, 167, 249, 1) 0%,
          rgba(255, 44, 195, 1) 39%,
          rgba(255, 227, 167, 1) 100%
        );
      }

      .dark {
        background: linear-gradient(
          20deg,
          rgba(25, 25, 25, 1) 0%,
          rgba(16, 11, 50, 1) 33%,
          rgba(92, 2, 73, 1) 100%
        );
      }

      .shadow {
        background: linear-gradient(
          20deg,
          rgba(25, 25, 25, 1) 0%,
          rgba(16, 11, 50, 1) 33%,
          rgba(92, 2, 73, 1) 100%
        );
      }

      .poison {
        background: linear-gradient(
          20deg,
          rgba(92, 2, 73, 1) 0%,
          rgba(16, 11, 50, 1) 33%,
          rgba(25, 25, 25, 1) 0%
        );
      }
      
    .bug {
        background: linear-gradient(
          140deg,
          rgba(39, 80, 9, 1) 0%,
          rgba(110, 127, 14, 1) 69%,
          rgba(196, 218, 61, 1) 100%
        );
      }
      
    .ice {
        background: linear-gradient(
          230deg,
          rgba(202, 234, 246, 1) 0%,
          rgba(160, 234, 241, 1) 46%,
          rgba(111, 184, 235, 1) 100%
        );
      }
    .ghost {
        background: black;
      }
      
    .steel {
        background: #7b7b85;
      }
    .fairy {
        background: linear-gradient(
          45deg,
          rgba(255, 230, 240, 1) 0%,
          rgba(255, 197, 224, 1) 34%,
          rgba(255, 166, 185, 1) 71%,
          rgba(255, 138, 149, 1) 100%
        );
      }
      
    .flying {
        background: linear-gradient(110deg, #4d6c81 0%, #698ba5 100%);
      }
      
    .dragon {
        background: linear-gradient(110deg, #44929e 0%, #5fd5e7 100%);
      }
      
     .fighting {
        background: linear-gradient(110deg, #a34027 0%, #fb6537 100%);
      }
    }
  }

  &__title_id {
    text-align: center;

    h3 {
      color: $secondary;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      margin: 15px auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}
