@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$Poppins: 'Poppins', sans-serif;

//colors
$dark: rgba(0, 0, 0, 0.874);
$light: #fff;
$primary: #f2cb07;
$secondary: #f27507;

//spacings 
$spacing-md: 16px;
$spacing-lg: 32px;

@mixin breakpoint($point){
    @if $point == sm{
        @media (max-width: 53em){
            @content;
        }
    }
    @if $point == md{
        @media (min-width: 53em){
            @content;
        }
    }
}